<!DOCTYPE html>
<html lang="en">
<style>
    body {
        font-size: 15pt;
        font-family: arial, sans-serif;
    }

    #data, #data_head, #data_data {
        border: 1px solid black;
    }

    th, #data_data {
        text-align: center;
    }
</style>

<head>
    <title>LionEats</title>
</head>
<body>
    <!--Page title-->
    <h1>Review of {{context['Name'][0]}} from {{uni}}</h1>

    <table style="width:100%" id="data">
        <caption></caption>
        <tr>
            {% for k in keys %}
                <th id="data_head">{{k}}</th>
            {% endfor %}
        </tr>

        {% for r in range(rows) %}
            <tr>
                {% for k in keys %}
                    <td id="data_data">{{context[k][r]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h3>NOTE: if you do not choose, we will not update that column!</h3>
    <h3>New Star Rating</h3>
    <form action="/update_star_and_review" method="POST" method="GET">
        <p><input type="radio" name="star" value=1>1</p>
        <p><input type="radio" name="star" value=2>2</p>
        <p><input type="radio" name="star" value=3>3</p>
        <p><input type="radio" name="star" value=4>4</p>
        <p><input type="radio" name="star" value=5>5</p>

        <h3>New Review</h3>
        <input type="text" id="review" name="review">
        <input type="submit" value="Submit">
    </form>

    <form action="back_home">
        <input type="submit" value="Go Back Home">
    </form>
</body>
</html>
