<!DOCTYPE html>
<html lang="en">
<style>
    body {
        font-size: 15pt;
        font-family: arial, sans-serif;
    }

    #data, #data_head, #data_data {
        border: 1px solid black;
    }

    th, #data_data {
        text-align: center;
    }
</style>

<head>
    <title>LionEats</title>
</head>
<body>
    <!--Page title-->
    <h1>Lion Eats</h1>
    {% if uni == '' %}
    <h2> Login or Signup </h2>
    <button onclick="login();">Login</button>
    <button onclick="signup();">Signup</button>
    {% endif %}
    <h3>Search for Restaurants</h3>

        
        <form method="GET" action="/rest_info">
            Enter restaurant name to see reviews:
            <input type="text" name="name">
            <input type="submit" value="View">
        </form>

        <form action="/rest_display_star_filter" method="GET">
            <p><input type="radio" name="star" value=1>1</p>
            <p><input type="radio" name="star" value=2>2</p>
            <p><input type="radio" name="star" value=3>3</p>
            <p><input type="radio" name="star" value=4>4</p>
            <p><input type="radio" name="star" value=5>5</p>
            <input type="submit" value="Filter">
        </form>

        <form method="GET" method="POST" action="/rest_display_all">
            <input type="submit" value="See all restaurants">
        </form>
    
        <script src="{{ url_for('static', filename = 'homepage.js') }}"></script> 
    <h4>Add A Review</h4>
        <button onclick="addReview();">Add Review</button>
</body>

</html>
