<!DOCTYPE html>
<html>
<!--Some CSS style so it's not ugly-->
<style>
    body {
        font-size: 15pt;
        font-family: arial;
    }

    #data, #data_head, #data_data {
        border: 1px solid black;
    }

    th, #data_data {
        text-align: center;
    }
</style>

<body>
    <!--Page title-->
    <h1>Lion Eats</h1>

            <!--Search box to see more information on specific recipies-->
            <!--Takes you to a different page that ONLY shows info on ONE recipe at a time-->
            <td style="text-align: center">
                <form method="POST" method="GET" action="/recipe_info">
                    <h4>Enter recipe name to see more information</h4>
                    <input type="text" name="name">
                    <input type="submit" value="View">
                </form>
            </td>
        </tr>
    </table>
    <!--Revert to showing all recipies-->
    <form action="back_recipe">
        <input type="submit" value="Show all">
    </form>

    <!--Populate table with recipe information-->
    <!--At first shows all recipies, then can be filtered-->
    <table style="width:100%" id="data">
        <tr>
            {% for k in keys %}
                <th id="data_head">{{k}}</th>
            {% endfor %}
        </tr>

        {% for r in range(context['rows']) %}
            <tr>
                {% for k in keys %}
                    <td id="data_data">{{context[k][r]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <!--Button to go back to home page-->
    <hr>
    <form action="back_home">
        <input type="submit" value="Go back">
    </form>
</body>
</html>
